<div class="modal-header">
    <h4 class="modal-title" *ngIf="!_replyTo">Escribir nuevo mensaje</h4>
    <h4 class="modal-title" *ngIf="_replyTo">Responder a {{_replyName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="_formMessage" *ngIf="_formMessage">
        <div [ngStyle]="{'margin-bottom': '10px'}">
            <div class="card" *ngIf="!_replyTo">
                <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" [ngStyle]="{'padding': '3px 10px'}">
                    <span>Enviar a </span>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" [ngStyle]="{'max-height': '200px', 'overflow': 'auto'}">
                    <div class="card-body">
                        <div class="custom-control custom-checkbox" *ngFor="let friend of _friends">
                            <input type="checkbox" class="custom-control-input" id="check{{friend.id}}" formControlName="check{{friend.id}}">
                            <label class="custom-control-label" for="check{{friend.id}}">{{friend.name}} {{friend.surname}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="txtTitle">Título</label>
            <input class="form-control form-control-sm" formControlName="title" type="text" name="txtTitle" id="txtTitle">
        </div>

        <div class="form-group">
            <label for="txtMessage">Mensaje</label>
            <textarea class="form-control form-control-sm" formControlName="message" name="txtMessage" id="txtMessage" cols="30" rows="6"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" (click)="activeModal.close('Close click')">Cancelar</button>
    <button type="button" class="btn btn-success btn-sm" (click)="sendMessage()">Enviar</button>
</div>
