<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="jumbotron">
                <h1 class="display-4">¡Bienvenido!</h1>
                <p class="lead">Well es una red social en la que ...</p>
            </div>
        </div>
        <div class="col-sm">
            <form novalidate>
                <div class="row">
                    <div class="form-group col">
                        <label for="txtName">Nombre</label>
                        <input type="text" id="txtName" class="form-control form-control-sm">
                    </div>
                    <div class="form-group col">
                        <label for="txtSurname">Apellidos</label>
                        <input type="text" class="form-control form-control-sm">
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="txtEmail">Email</label>
                        <input type="text" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="txtPassword">Contraseña</label>
                        <input type="text" class="form-control form-control-sm">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="selectDay">Fecha de nacimiento</label>
                        <div class="row">
                            <div class="col">
                                <select name="selectDay" id="selectDay" class="form-control form-control-sm">
                                    <option value="" disabled hidden>Día</option>
                                </select>
                            </div>
                            <div class="col">
                                <select name="selectMonth" id="selectMonth" class="form-control form-control-sm">
                                    <option value="" disabled hidden>Mes</option>
                                </select>
                            </div>
                            <div class="col">
                                <select name="selectYear" id="selectYear" class="form-control form-control-sm">
                                    <option value="" disabled hidden>Año</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label for="selectGender">Género</label>
                        <select name="selectGender" id="selectGender" class="form-control form-control-sm">
                            <option value="" disabled hidden>Género</option>
                            <option value="">Femenino</option>
                            <option value="">Masculino</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <button class="btn btn-success btn-sm" type="button" style="width: 100%">Registrarse</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
