<div class="container" *ngIf="_users">
    <h4>Buscar</h4>

    <hr>

    <div class="container-fluid d-flex justify-content-center row">
        <div class="card" *ngFor="let user of _users">
            <div class="d-flex">
                <div class="image-container">
                    <img class="image pointer" src="{{_imagesUrl}}/{{user?.profilePicture}}" (click)="showPofile(user.id)">
                </div>
                <div class="card-body">
                    <h5 class="card-title pointer" (click)="showPofile(user.id)">{{user?.name}} {{user?.surname}}</h5>
                    <div class="d-flex justify-content-between user-info">
                        <span [ngStyle]="{'margin-right': '10px'}">{{user?.country}} {{user.country && user.city ? "-" : ""}} {{user?.city}}</span>
                        <button class="btn btn-primary btn-sm" *ngIf="!user.areFriends" (click)="sendFriendRequest(user.id)" [disabled]="user.hasFriendRequest"><i class="fas fa-user-plus icon-with-text"></i>Agregar</button>
                        <button class="btn btn-danger btn-sm" *ngIf="user.areFriends" (click)="removeFriend(user.id)"><i class="fas fa-user-minus icon-with-text"></i>Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>
